<app-menu></app-menu>
<div class="body">
    <section class="pago-seguro">
      <div class="">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-custom nav-item">
                  <a class="nav-custom nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" 
                  role="tab" aria-controls="pills-home" aria-selected="true">Revisa tu pedido</a>
              </li>
              <li class="nav-custom nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" 
                  aria-controls="pills-profile" aria-selected="false">Datos personales</a>
              </li>
              <li class="nav-custom nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" 
                  aria-controls="pills-contact" aria-selected="false">Método de pago</a>
              </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" 
              role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="row">
                      <div class="col-lg-7">
                          <div class="container">
                              <div class="row">
                                  <div class="col-lg-12 contraste-box py-4">
                                      <div class="row">
                                          <div class="col-lg-5 contraste-foto">
                                              <img src="../../../../assets/image/arequipa.jpg" alt="">
                                          </div>
                                          <div class="col-lg-7 contraste-texto">
                                              <h2>Contrastes de Nueva York</h2>
                                              <p>9/10 15.007 opciones<br>
                                                  <br>
                                                  Tour en español<br>
                                                  1 adulto x 49 US$<br>
                                                  2 menos (gratis)<br></p>
                                              <span>Cancelacion gratuita hasta 48 horas antes</span>
                                          </div>
                                          <div class="descuento">
                                              <h5>-15%</h5>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-12 contraste-box py-4">
                                      <h3 class="title">Description</h3>
                                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                          Quae, deserunt fuga. Libero porro, quibusdam enim et rerum 
                                          non illo explicabo? Nemo perferendis cumque dolore asperiores 
                                          nulla laborum fuga, a expedita.</p>
                                  </div>
                                  <div class="col-lg-12 contraste-box py-4">
                                    <h3 class="title text-right">Otros datos importantes</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                        Quae, deserunt fuga. Libero porro, quibusdam enim et rerum 
                                        non illo explicabo? Nemo perferendis cumque dolore asperiores 
                                        nulla laborum fuga, a expedita.</p>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 precio-box">
                          <div class="container py-4">
                              <div class="row precio-total">
                                  <div class="col-lg-12">
                                    <app-calendar-plan></app-calendar-plan>
                                  </div>
                                  <div class="container color-precio">
                                      <div class="row">
                                          <div class="col-9 precio-total-titulo">
                                              <h5>Precio total</h5>
                                          </div>
                                          <div class="col-3 precio-total-precio">
                                              <h4><b>49</b>US$</h4>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-12 pt-2">
                                      <button type="button" class="btn btn-custom">Reservar mas actividades</button>
                                      <button type="button" class="btn btn-custom">Tramitar reserva</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- segunda pagina -->
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" 
              aria-labelledby="pills-profile-tab">
                  <div class="row">
                      <div class="col-lg-4 precio-box">
                          <div class="container py-3">
                              <div class="row precio-total">
                                  <div class="col-7 precio-total-titulo">
                                      <h3>Resumen</h3>
                                  </div>
                                  <div class="col-5 precio-total-precio">
                                      <a href="#">modificar carrito</a>
                                  </div>
                              </div>
                              <div class="row precio-total">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-lg-12 p-3">
                                              <div class="descuento">
                                                  <h5>-15%</h5>
                                              </div>
                                          </div>
                                          <div class="col-9 precio-total-titulo">
                                              <h5>Contrastes de Nueva York</h5>
                                          </div>
                                          <div class="col-3 precio-total-precio">
                                              <h4><b>49</b>US$</h4>
                                          </div>

                                      </div>
                                  </div>
                                  <div class="col-lg-12">
                                      <p>
                                          9/10 15.007 opiniones<br>
                                          30/03/20 | 3 personas<br>
                                          <span>Cancelacion gratuita hasta 48 horas</span>
                                      </p>
                                  </div>
                                  <div class="container color-precio">
                                      <div class="row">
                                          <div class="col-9 precio-total-titulo">
                                              <h5>Precio total</h5>
                                          </div>
                                          <div class="col-3 precio-total-precio">
                                              <h4><b>49</b>US$</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-7">
                          <div class="container">
                              <div class="row">
                                  <div class="col-lg-12 contraste-box">
                                      <div class="container py-3">
                                          <h3 class="title text-center">Datos de reserva</h3>
                                          <form class="form-global">
                                              <div class="row ">
                                                  <div class="col-lg-12">
                                                      <div class="form-group">
                                                          <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Nombre">
                                                          <small id="name" class="form-text text-muted">Este campo es obligatorio</small>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-12">
                                                      <div class="form-group">
                                                          <input type="name" class="form-control" id="apellido" aria-describedby="apellido" placeholder="Apellido">
                                                          <small id="apellido" class="form-text text-muted">Este campo es obligatorio</small>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-12">
                                                      <div class="form-group">
                                                          <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email">
                                                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <select class="form-control" id="exampleFormControlSelect1">
                                                              <option>Peru (+51)</option>
                                                              <option>Brasil (+65)</option> <option>Colombia (+21)</option> <option>Venezuela (+23)</option> <option>Argentina (+45)</option>
                                                          </select>
                                                          <small id="pais" class="form-text text-muted">Prefijo</small>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-9">
                                                      <input type="text" class="form-control" placeholder="Telefono">
                                                  </div>
                                                  <div class="col-lg-12 form-group">
                                                    <small id="pais" class="form-text text-muted">Punto de recogida</small>
                                                    <select id="inputState" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <option>8:30 - Hotel internacional Barclay</option>
                                                        <option>9:30 - Hotel internacional Peru</option>
                                                        <option>10:30 - Hotel internacional Lima</option>
                                                    </select>
                                                    </div>
                                                    <div class="col-lg-12 form-check d-flex mb-3">
                                                        <label class="custom-control mapnetic-checkbox">
                                                            <span class="mapnetic-control-description">Acepto los <a data-toggle="modal" data-target="#terminosCondiciones" class="link">terminos y condiciones</a></span>
                                                            <input type="checkbox" class="mapnetic-control-input">
                                                            <span class="mapnetic-control-indicator"></span>
                                                        </label>
                                                    </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                                  <div class="col-lg-12 contraste-box">
                                      <div class="container py-4">
                                          <div class="row">
                                              <div class="col-lg-4 contraste-foto">
                                                  <img src="../../../../assets/image/arequipa.jpg" alt="">
                                              </div>
                                              <div class="col-lg-8 contraste-texto">
                                                  <h3 class="title text-center">Contrastes de Nueva York</h3>
                                                  <div class="container">
                                                      <div class="row text-center">
                                                          <div class="col-lg-4">
                                                              <div class="details">
                                                                <h3>3</h3>
                                                              </div>
                                                              <p>personas</p>
                                                          </div>
                                                          <div class="col-lg-4">
                                                              <div class="details">
                                                                <h3>ES</h3>
                                                              </div>
                                                              <p>Español</p>
                                                          </div>
                                                          <div class="col-lg-4">
                                                              <div class="details">
                                                                <h3>30</h3>
                                                              </div>
                                                              <p>marzo 2020</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-12">
                                                  <form>
                                                    
                                                  </form>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="btn-continuar m-auto">
                              <div class="row">
                                  <div class="col-lg-12 col-12">
                                      <button type="button" class="btn btn-custom" style="margin-right: -20px;">Continuar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" 
              aria-labelledby="pills-contact-tab">
                  <div class="row">
                      <div class="col-lg-4 precio-box">
                          <div class="container py-3">
                              <div class="row precio-total">
                                  <div class="col-7 precio-total-titulo">
                                      <h3>Resumen</h3>
                                  </div>
                                  <div class="col-5 precio-total-precio">
                                      <a href="#">modificar datos</a>
                                  </div>
                              </div>
                              <div class="row precio-total">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-lg-12 p-3">
                                              <div class="descuento">
                                                  <h5>-15%</h5>
                                              </div>
                                          </div>
                                          <div class="col-9 precio-total-titulo">
                                              <h5>Contrastes de Nueva York</h5>
                                          </div>
                                          <div class="col-3 precio-total-precio">
                                              <h4><b>49</b>US$</h4>
                                          </div>

                                      </div>
                                  </div>
                                  <div class="col-lg-12">
                                      <p>
                                          9/10 15.007 opiniones<br>
                                          30/03/20 | 3 personas<br>
                                          <span>Cancelacion gratuita hasta 48 horas</span>
                                      </p>
                                  </div>
                                  <div class="container color-precio">
                                      <div class="row">
                                          <div class="col-9 precio-total-titulo">
                                              <h5>Precio total</h5>
                                          </div>
                                          <div class="col-3 precio-total-precio">
                                              <h4><b>49</b>US$</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-7">
                          <div class="container">
                              <div class="row">
                                  <div class="col-lg-12 contraste-box">
                                      <div class="container py-3">
                                          <div class="divisa">
                                              <h3>Selecciona tu divisa</h3>
                                              <div class="container">
                                                  <div class="row">
                                                      <div class="col-lg-4 uno">
                                                          <input type="radio" checked="checked" name="radio" id="uno">
                                                          <label for="uno">
                                                              <span class="espan1">176,50 S/</span>
                                                              <br>
                                                              <span class="espan2">
                                                                  <p>
                                                                      Soles peruanos<br> Acepta pago a plazos
                                                                  </p>
                                                              </span>
                                                          </label>
                                                      </div>
                                                      <div class="col-lg-4 dos">
                                                          <input type="radio" name="radio" id="dos">
                                                          <label for="dos">
                                                          <span class="espan1">246,00 S/</span>
                                                              <br>
                                                              <span class="espan2">
                                                                  <p>
                                                                      Soles peruanos<br> Acepta pago a plazos
                                                                  </p>
                                                              </span>
                                                          </label>
                                                      </div>
                                                      <div class="col-lg-4 tres">
                                                          <input type="radio" name="radio" id="tres">
                                                          <label for="tres">
                                                          <span class="espan1">147,10 S/</span>
                                                              <br>
                                                              <span class="espan2">
                                                                  <p>
                                                                      Soles peruanos<br> Acepta pago a plazos
                                                                  </p>
                                                              </span>
                                                          </label>

                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="pago">
                                              <h3>Selecciona un método de pago</h3>
                                              <div class="container">
                                                  <div class="row">
                                                      <div class="col-lg-12">
                                                          <input type="radio" name="radio" id="cuatro">
                                                          <label for="cuatro">
                                                              <span class="espan0">Tarjeta</span>
                                                              <br>
                                                              <div class="margen-form">
                                                                  <form>
                                                                      <div class="row ">
                                                                          <div class="col-lg-12">
                                                                              <div class="form-group">
                                                                                  <input type="tel" class="form-control" maxlength="24" id="name" aria-describedby="name" placeholder="1234 2548 3658 2451">
                                                                              </div>
                                                                          </div>
                                                                          <div class="col-lg-12">
                                                                              <div class="form-group">
                                                                                  <input type="date" class="form-control" id="fecha" aria-describedby="apellido" placeholder="">
                                                                              </div>
                                                                          </div>
                                                                          <div class="col-lg-12">
                                                                              <div class="form-group">
                                                                                  <input type="tel" class="form-control" id="cvv" aria-describedby="emailHelp" placeholder="CVC/CVV">

                                                                              </div>
                                                                          </div>
                                                                          <div class="col-lg-12">
                                                                              <div class="form-group">
                                                                                  <input type="name" class="form-control" maxlength="24" id="name" aria-describedby="name" placeholder="Titular de la tarjeta">
                                                                              </div>
                                                                          </div>
                                                                          <div class="col-lg-12 btn-pagar">
                                                                              <button class="btn  btn-custom">
                                                                                  Pagar
                                                                              </button>
                                                                          </div>
                                                                      </div>
                                                                  </form>
                                                              </div>

                                                          </label>
                                                      </div>
                                                    
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
</div>
<div class="container mb-5">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="title text-center">Tambien te puede interesar</h3>
        <p class="description text-center">Description of section</p>
      </div>
      <div class="col-lg-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4">
        <app-product-card></app-product-card>
      </div>
    </div>
</div>
<app-pfooter></app-pfooter>