<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header d-flex">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <div class="filters d-flex">
             <app-filters
                        [description] = "'Material checkbox'"
             ></app-filters>
             <app-filters
                        [description] = "'Produts Electronics'"
             ></app-filters>
             <app-filters
                        [description] = "'E-commerce UX/UI'"
             ></app-filters>
          </div>
      </div>
  </div>
</nav> -->
<div class="section-products">
    <div class="container-fluid">
        <div class="container-title">
            <h3>Otras actividades</h3>
            <p class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                In earum minus, laboriosam voluptatum, quam deserunt ul.
            </p>
        </div>
        <div class="container-products">
            <div class="row d-flex">
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-lg-12">
                    <a href="" class="btn btn-custom mt-5 mb-5">Ver todas las actividades disponibles</a>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-card-country></app-card-country>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-card-country></app-card-country>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-card-country></app-card-country>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-card-country></app-card-country>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-card-country></app-card-country>
                </div>
                <div class="col-lg-4 col-sm-6-col-xs-12">
                    <app-card-country></app-card-country>
                </div>
                <div class="col-lg-12">
                    <a href="" class="btn btn-custom mt-5">Ver todas los paises disponibles</a>
                </div>
            </div>
        </div>
        <!-- <div class="container-pagination">
            <div class="options">
                <a href="" class="btn active">1</a>
                <a href="" class="btn">2</a>
                <a href="" class="btn">3</a>
                <a href="" class="btn">4</a>
                <a href="" class="btn">5</a>
        </div> -->
    </div>
</div>
