<div class="card card-product mb-3">
    <a routerLink="/reserve">
      <div class="card-description">
          <div class="content-description">
            <h3 class="title">Tour por Nueva York</h3>
            <div class="row">
              <div class="col-lg-4"><h1 class="point">5.9</h1></div>
              <div class="col-lg-8">
                <div class="d-flex stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="col-lg-12">
                <p>Nuestro freetour por Nueva York es ideal para comenzar a explorar la ciudad. 
                  <b>Visitaremos lugares como Broadway, Wall Street o el Memorial del 11-S</b>
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="card-img">
        <img src="../../../assets/image/arequipa.jpg" alt="" class="img-fluid">
      </div>
      <div class="card-body">
        <h3 class="title">Echo amazon glamour -v1</h3>
        <p class="description"><span>+50,200</span> items in category</p>
        <p class="price text-right">$400.00 <span>$700.00</span></p>
      </div>
      <div class="card-discount">
        <h3 class="discount">-20%</h3>
      </div>
    </a>
</div>