<app-menu></app-menu>
<app-banner></app-banner>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="title"><b>Otras Actividades</b></h3>
        <p class="description">Description of section</p>
      </div>
      <div class="col-lg-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-12">
        <a href="" class="btn btn-custom mt-4">Ver todas las actividades</a>
      </div>
      <div class="col-lg-12">
        <h3 class="title">Principales destinos</h3>
        <p class="description">Description of section</p>
      </div>
      <div class="col-lg-4">
        <app-card-country></app-card-country>
      </div>
      <div class="col-lg-4">
        <app-card-country></app-card-country>
      </div>
      <div class="col-lg-4">
        <app-card-country></app-card-country>
      </div>
      <div class="col-lg-4">
        <app-card-country></app-card-country>
      </div>
      <div class="col-lg-4">
        <app-card-country></app-card-country>
      </div>
      <div class="col-lg-4">
        <app-card-country></app-card-country>
      </div>
      <div class="col-lg-12">
        <a href="" class="btn btn-custom mt-4 mb-5">Ver todas las actividades</a>
      </div>
    </div>
  </div>
</div>
<app-pfooter></app-pfooter>