<div class="footer">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <ul class="column-footer">
              <li class="title">Custom items footer</li>
              <li><a href="">Trabaja con nosotros</a></li>
              <li><a href="">Quienes somos</a></li>
              <li><a href="">Vision mision</a></li>
              <li><a href="">Seguridad de la compra</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
              <ul class="column-footer">
                <li class="title">Otras opciones de compra</li>
                <li><a href="">Compra por woocommerce</a></li>
                <li><a href="">Compra por e-commerce</a></li>
                <li><a href="">Angular 8, UX/UI</a></li>
                <li><a href="">Full web services</a></li>
                <li><a href="">Stripe, paypal, mercado pago and others</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
              <ul class="column-footer">
                <li class="title">Caracteristicas especiales</li>
                <li><a href="">Nginx, digital ocean</a></li>
                <li><a href="">Programmer is joel v</a></li>
                <li><a href="">Metodologias agiles</a></li>
                <li><a href="">Simplificacion de procesos</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <ul class="column-footer">
              <li class="title">Redes sociales</li>
              <li><a href="">Facebook</a></li>
              <li><a href="">Twitter</a></li>
              <li><a href="">Git hub</a></li>
              <li><a href="">WhatsApp</a></li>
              <li><a href="">Linkedin</a></li>
            </ul>
          </div>
          <!-- <div class="row col-lg-12 footer-nav">
            <div class="col-lg-4 col-sm-6">
              <div class="content-logo">
                <img src="../../../assets/image/logo.png" alt="" class="logo img-fluid">
                <p class="copyright">© 2020, Logo Here Inc | E-commerce</p>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>