<div class="card card-product mb-3">
    <a href="">
      <div class="card-description">
          <div class="content-description">
            <h3 class="title">Tour por Nueva York</h3>
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-12">
                <div class="d-flex stars">
                  <div class="content-poins">
                    <h1 class="point">5.9</h1>
                  </div>
                  <div class="content-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="d-flex count-persons">
                  <h1>+511.00</h1>
                  <p class="description">Visitaron este lugar</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="card-img">
        <h1 class="country">Perú</h1>
        <img src="../../../assets/image/machu-picchu.jpg" alt="">
      </div>
    </a>
  </div>